.popup-view {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  /*opacity: 0;
  transition: visibility .5s, opacity .5s linear;
  visibility: hidden;*/
}

.popup-view_opened {
  visibility: visible;
  opacity: 1;
}

.popup-view__window {
  object-fit: contain;
  object-position: center;
  position: relative;
}

.popup-view__image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
  object-position: center;
}

.popup-view__about {
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: normal;
  margin: 10px 0 0;
  max-width: 240px;
}

.popup-view__close {
  width: 40px;
  height: 40px;
  background-image:
    url(images/сlose_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  opacity: 1;
  transition: .3s linear;
  padding: 0;
  transform: rotate(-45deg);

}

.popup-view__close:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .popup-view__close {
    top: -39px;
    right: 0;
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
  }
}

