
.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, .5);
  display: none;
}

.popup_opened {
  display: block;
}

.popup__container {
  width: 430px;
  border-radius: 10px;
  position: fixed;
  top: 195px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 282px;
  }
}

.popup__close-form {
  width: 40px;
  height: 40px;
  background-image:
    url(./images/close_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-color: transparent;
  position: fixed;
  top: -40px;
  right: -40px;
  border: none;
}

.popup__close-form:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .popup__close-form {
    top: -26px;
    right: 0;
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
  }
}

.popup__title {
  width: 83.7%;
  color: black;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px auto 24px;
}

@media screen and (max-width: 600px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__edit-profile {
  width: 83.7%;
  margin: 0 auto;
}

.popup__item-profile {
  border: 0;
  width: 100%;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid  rgba(0, 0, 0, .2);
  margin: 30px auto 0;
  padding-bottom: 13px;
  color: black;
}

.popup__save {
  width: 100%;
  height: 50px;
  margin: 48px auto 37px;
  background-color: black;
  color: white;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  border-radius: 2px;
}

.popup__save:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .popup__save {
    height: 46px;
  }
}
